In [17]:
# slicing a string 
s=('you are awesoum')
s

'you are awesoum'

In [2]:
s[2]

'u'

In [3]:
s*3

'you are awesoumyou are awesoumyou are awesoum'

In [4]:
s[:3]

'you'

In [7]:
s[:5:2]

'yua'

In [8]:
s[-1]

'm'

In [9]:
s[::-1 ]

'muosewa era uoy'

In [12]:
s.strip()# removes the spaces 
#l.strip() removes the left space 
#r.strip() removes the right space

'you are awesoum'

In [19]:
s.find('ame',0,len(s))

-1

In [23]:
s.count('a')

2

In [25]:
s.replace('awesoum','super')

'you are super'

In [26]:
s.upper()

'YOU ARE AWESOUM'

In [27]:
s.lower()

'you are awesoum'

In [29]:
# lists 
lst=[10,20,'hair','oil',45,67]
lst

[10, 20, 'hair', 'oil', 45, 67]

In [30]:
lst[3]

'oil'

In [32]:
lst[3::3]

['oil']

In [33]:
lst.append(40)

In [34]:
lst.remove('hair')

In [36]:
del(lst[1])

In [37]:
lst

[10, 45, 67, 40]

In [39]:
max(lst)

67

In [40]:
min(lst)

10

In [43]:
 lst.insert(10,99)
lst

[10, 45, 67, 99, 40, 99, 99]

In [44]:
lst.sort()
lst

[10, 40, 45, 67, 99, 99, 99]

In [47]:
lst.sort(reverse=True)
lst

[99, 99, 99, 67, 45, 40, 10]

In [3]:
#tupple practise
tpl=(3,40,50,'xyz')
tpl

(3, 40, 50, 'xyz')

In [4]:
tpl[3]

'xyz'

In [7]:
tpl.count('xyz')

1

In [8]:
tpl.index('xyz')

3

In [9]:
type(tpl)

tuple

In [10]:
# sets
s={10,20,30,'xyz',10,10}
s

{10, 20, 30, 'xyz'}

In [14]:
s.update([88,99])
s

{10, 20, 30, 88, 99, 'xyz'}

In [15]:
type(s)

set

In [17]:
s.remove(88)
s

{10, 20, 30, 99, 'xyz'}

In [18]:
f=frozenset(s)

In [19]:
f.remove(20)

AttributeError: 'frozenset' object has no attribute 'remove'

In [21]:
#range 
r=range(5)

for i in r:
    print(i)

0
1
2
3
4

In [22]:
r=range(1,5)

for i in r:
    print(i)

1
2
3
4

In [23]:
r=range(1,5,2)

for i in r:
    print(i)

1
3

In [24]:
#bytes and byte
lst=[20,30,40,234]
print(type(lst))
b=bytes(lst)
print(b)

<class 'list'>
b'\x14\x1e(\xea'

In [25]:
#dictionary
dict1={1:'john',2:'bob'}
dict1

{1: 'john', 2: 'bob'}

In [26]:
dict1.items()

dict_items([(1, 'john'), (2, 'bob')])

In [27]:
k=dict1.keys()
for i in k:
    print(i)

1
2

In [29]:
k1=dict1.values()
for i in k1:
    print(i)

john
bob

In [30]:
del(dict1[2])

In [31]:
dict1

{1: 'john'}

In [2]:
# arithametic operator
a,b=10,5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)

15
5
50
2.0
100000

In [3]:
 a+=b

In [4]:
a

15

In [5]:
a==b

False

In [6]:
a!=b

True

In [7]:
a>b

True

In [8]:
a<=b

False

In [9]:
# logical operators 
x=25
y=30
x==25 and y==30

True

In [11]:
x==25 or y==39

True

In [13]:
not(x==25 or y==30)

False

In [15]:
lst=[x for x in input('enter three numbers saparated by space :').split()]
print(lst)

enter three numbers saparated by space :1 2 3 4
['1', '2', '3', '4']

In [16]:
lst=[int(x) for x in input('enter three numbers saparated by space :').split()]
print(lst)

enter three numbers saparated by space :1 2 3 4 5
[1, 2, 3, 4, 5]

In [17]:
#radius of a circle 
import math
r=float(input('enter the radius'))
area=math.pi*r**2
area

enter the radius3

28.274333882308138

In [1]:
# while loop 
x=1
while(x<=20):
    print(x)
    x+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [12]:
x=int(input('enter min num'))
y=int(input('enter max num'))
i=x
if i%2==0: 
    while(i<=y):
        print(i)
        i+=2
else:
    print('min number is odd number')

enter min num2
enter max num20
2
4
6
8
10
12
14
16
18
20

In [9]:
sub1=int(input('enter sub1 marks '))
sub2=int(input('enter sub2 marks '))
sub3=int(input('enter sub3 marks '))
if sub1>=100 or sub2>=100 or sub3>=100:
    print("Max marks shud not exceed 100")
elif sub1<35 or sub2<35 or sub3<35:
    print('fail')
elif sub1>=35 and sub2>=35 and sub3>=35:
    print("congrats! you passed")
    avg=int((sub1+sub2+sub3)/3)
    if avg<=55:
        print('C grade')
    elif avg<=69:
        print('B grade')
    elif avg>=70:
        print('A grade')
else:
    print("Marks can not exceed 100")

enter sub1 marks 67
enter sub2 marks 87
enter sub3 marks 90
congrats! you passed
A grade